/**
 *
 * Navigation
 *
 */

.navbar-toggle {
  border: 0;
  background: transparent!important;
}

.icon-bar {
  transition: all .3s;
}

.top-bar {
  transform: translateY(6px) rotate(45deg);
}

.middle-bar {
  opacity: 0;
}

.bottom-bar {
  transform: translateY(-6px) rotate(-45deg);
}

.navbar-toggle.collapsed {
  .top-bar {
    top: 0;
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    top: 0;
    transform: rotate(0);
  }
}

nav {
  padding: 15px;

  a {
    color: $color-text;
  }
}

.navbarMenu {
  float: right;
  font-size: 25px;
  margin-top: 15px;
} 

.navbarBrand {

  img {
    width: 250px;
  }
}

.navMenu {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  position: absolute;
  right: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  display: none;
}

.is-visible {
  display: block;
}