/**
 *
 * Footer
 *
 */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 10px;

	a {
		color: $color-text;

		@include hover-active-focus {
			color: $color-primary;
		}
	}
}

.footerSettings {
	float: right;
}